.rank-view {
    margin: 10px;
}
.rank-item {
    margin-bottom: 10px;
    overflow: hidden;
    .item-mian {
        display: -webkit-box;
        background: #fff;
        .item-media {
            position: relative;
            width: 100px;
            height: 100px;
            display: block;
            img {
                display: block;
                width: 100px;
                height: 100px;
            }
            .listen_count {
                left: 5px;
                bottom: 7px;
                line-height: 12px;
                color: #fff;
                opacity: .6;
                font-size: 9px;
                z-index: 10;
                .icon {
                    display: block;
                    float: left;
                    width: 10px;
                    height: 10px;
                    background-position: 0 -50px;
                    margin-right: 3px;
                }
            }
        }
        .item-info {
            position: relative;
            -webkit-box-flex: 1;
            display: -webkit-box;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            .info-cont {
                -webkit-box-flex: 1;
                margin: 0 10px 0 15px;
                .info-tit {
                    font-size: 16px;
                    color: #000;
                    font-weight: normal;
                    margin-top: 1px;
                    margin-bottom: 5px;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
             > p {
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                font-size: 14px;
                color: rgba(0,0,0,.5);
                margin: 0 2px 0 0;
                .text_name {
                    color: #000;
                    margin-left: 8px;
                    margin-right: 5px;
                }
             }
            }
            .info-arrow {
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -4px;
                width: 6px;
                height: 6px;
                border-right: 1px solid #b2b2b2;
                border-bottom: 1px solid #b2b2b2;
                -webkit-transform: rotate(-45deg);
            }
        }
    }
}